label {
  color: aliceblue;
}

h1 {
  letter-spacing: 0.3rem;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.values-and-errors {
  margin-top: 5rem;
  letter-spacing: 2px;
  color: pink;
  background-color: blueviolet;
  padding: 0.75rem;
  border-radius: 10px;
}

.values-and-errors h3 {
  text-decoration: underline;
}

.valid-email {
  margin-top: 2rem;
  border-radius: 10px;
  padding: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
}

.image-div {
  display: relative;
  padding-top: 3rem;
}

#email-image {
  position: absolute;
  width: 25%;
  animation: roll 10s linear infinite;
  transform-origin: center center;
}

@keyframes roll {
  0% {
    left: -120px;
    transform: rotate(0deg);
  }
  100% {
    left: 120%;
    transform: rotate(1440deg);
  }
}
